body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.search-input {
  border: none;
  width: 400px;
  font-size: 1.5em;
  padding: none;
}

.function-box {
  padding: 16px;
  border: 1px lavender solid;
  margin: 8px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  margin: auto;
}

.function-arg {
  display: flex;
  align-items: baseline;
  font-size: 0.9em;
}

.func-name {
  width: auto;
  background-color: lavender;
}

button {
  background-color: lavender;
  border: none;
  padding: 6px 16px;
  margin-top: 16px;
  border-radius: 2px;
}

button:hover {
  font-weight: 900;
  cursor: pointer;
}
.function-collapse {
  margin-left: 16px;
  padding: 8px;
}

.args-box {
  max-height: 52px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.args-box.expand {
  max-height: 250px;
}

.func-signature {
  display: flex;
  align-items: center;
  gap: 8px;
}

.star-button {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  padding: 0px;
  line-height: 0px;
  margin: 0px;
}

.left-align > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: "orange";
}

.hide {
  display: none;
}
